<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <main>
        <form action="form-data">
            <h2>Enquiry Form</h2>
            <div>
                <label>Enter your name</label>
            </div>
            <input type="text" placeholder="Enter your name" name="name" />
            <div>
                <label>Enter your email</label>
            </div>
            <input type="email" placeholder="Enter your email" name="email" />
            <div>
                <label>Enter you mobile number</label>
            </div>
            <input type="text" placeholder="Enter you mobile number" name="mobile" />
            <div>
                <label>Enter subject</label>
            </div>
            <input type="text" placeholder="Enter subject" />
            <div>
                <label>Submit Enquiry</label>
            </div>
            <textarea placeholder="Submit Enquiry" name="message"></textarea>
            <button type="submit">submit</button>
        </form>
    </main>
</body>

</html>