<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <main>
        <form action="">
            <input type="text" placeholder="Enter your name" name="name" />
            <input type="email" placeholder="Enter your email" name="email" />
            <input type="text" placeholder="Enter you mobile number" name="mobile" />
            <input type="text" placeholder="Enter subject" />
            <textarea name="message">Submit Enquiry</textarea>
            <button type="submit">submit</button>
        </form>
    </main>
</body>

</html>