<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="submit_op.css">
  </head>
  <body>
    <main>
      <div class="icon">😊</div>
      <h2 >Thank You for Contacting Us!</h2>
      <p>We have received your message. We will respond to you as soon as possible</p>
      <p class="footer">Have a great day! 🌟</p>
      <!-- <button>Go Back</button> -->
      <a href="/form" type="button"> Go Back</a>
    </main>
  </body>
</html>
