* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: pink;
}
main {
  width: 100%;
  height: 100%;
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 40%;
  height: 95%;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1000px) {
  form {
    width: 80%;
    height: 95%;
  }
}
form h2 {
  font-size: 2rem;
  color: blue;
}
@media (max-width: 1000px) {
  form h2 {
    font-size: 1.78rem;
  }
}
@media (max-width: 400px) {
  form h2 {
    font-size: 1.34rem;
  }
}
form div {
  width: 80%;
}
form div label {
  font-size: 1rem;
}
@media (max-width: 400px) {
  form div label {
    font-size: 0.89rem;
  }
}
form input {
  width: 80%;
  height: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}
@media (max-width: 400px) {
  form input {
    width: 80%;
    height: 1.78rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
}
form textarea {
  width: 80%;
  height: 4rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}
/* @media (max-width: 400px) {
  form textarea {
    width: 80%;
    height: 4rem;
    padding-left: 0.5rem;
    font-size: 1rem;
  }
} */
form button {
  width: auto;
  height: auto;
  padding: 0.6rem;
  font-size: 1.23rem;
  color: white;
  background-color: green;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.8rem;
  transition: all 0.55s ease;
}
form button:active {
  color: black;
  background-color: greenyellow;
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.8rem;
}
