* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  /* font-family: 'Times New Roman', Times, serif;  */
  font-family: Arial, Helvetica, sans-serif;
}
html ,body{
    width: 100%;
    height: 100%;
}
